@model Protótipo_Projeto.Models.Produto

<h1>Adicionar produto</h1>

<div>
    <form asp-action="Adicionar">
        <div class="form-group">
            <label class="form-label" asp-for="Nome">Insira o nome do produto:</label>
            <input class="form-control" asp-for="Nome"></input>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="ValorUnitario">Insira o valor unitário do produto:</label>
            <input class="form-control" asp-for="ValorUnitario"></input>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Estoque">Insira o estoque do produto:</label>
            <input class="form-control" asp-for="Estoque"></input>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="IdCateg">Insira a categoria do produto:</label>
            <select class="form-control" asp-items="@ViewBag.cat" asp-for="IdCateg"></select>
        </div>
        <button asp-action="Adicionar" class="btn btn-primary mt-3">Adicionar</button>
    </form>
</div>