@model Protótipo_Projeto.Models.Produto

<h1>Deletar produto</h1>
<p>Tem certeza que deseja deletar esse produto?</p>

<div class="d-flex">
    <form asp-action="Delete" class="d-flex">
        <button asp-action="Delete" class="btn btn-danger">Sim</button>
    </form>
    <form asp-action="Produtos" class="d-flex ms-3">
        <button asp-action="Produtos" class="btn btn-success">Não</button>
    </form>
</div>