@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Caixa de Supermercado</h1>
    <p>Este programa tem a função de realizar operações de caixa de supermercado</p>
</div>