@using ProjetoE21.Dados

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoE21</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoE21.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Aside.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

    <style>
        .asd {
            display: none;
        }

        .asdEnter {
            animation: AsideEnter 0.25s ease-in;
        }

        .asd-item {
        }

            .asd-item:hover {
                background-color: rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

        .dark-mode2 {
            filter: invert(80%);
        }

        #homedanav:hover {
           
            font-weight: bold;
        }
        #servicodanav:hover {
           
            font-weight: bold;
        }
        #empregodanav:hover {
           
            font-weight: bold;
        }

        #jovensdanav:hover {
            font-weight: bold;
        }

        @@media only all and (max-width: 900px) {
           /*  #pagesul{
                display: flex;
                flex-direction: column;
            }

            #pagesdiv{
                display: flex;
                flex-direction: column-reverse;
            } */
        }


        @@media only all and (max-width: 600px) {
            body{
                font-size: 1.5em;
            }
            #navlayout {
                display: flex;
                justify-content: space-between;
                margin-bottom: 3vh;
                height: 25vh;

            }

            #divdanav {
                margin-top:-4px;
                height: 25vh;
                justify-content: space-between;
            }

            #nomedousuario{
                font-size: 0.9em !important;
            }
            #linkdoperfil{
                
                flex-direction:column;
                width: 10% !important;
                margin: -41px 8px auto 2px !important;
                
            }
            
            #pagesul {
                
                flex-direction: column;
            }

            #pagesdiv {
                margin-top: -41px !important;
                flex-direction: column-reverse !important;
            }

            
        }

        
    </style>
</head>

<body style="background-color:rgb(246, 245, 252);">
    <header>
        <nav id="navlayout" style="display:flex; justify-content:space-between; margin-bottom:3vh;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div id="divdanav" class="container-fluid" style="height: 4rem; justify-content:space-between;">
                <a id="linkdoperfil" style="color:black; text-decoration:none; width: 20%; margin:auto 8px auto 2px; display: flex; align-items: center" asp-controller="Perfil" asp-action="Index">
                    <img style="margin-left:8px;" src="~/css/Imagens/Perfil.png" width="45vh" class="m-1"></img>
                    <p id="nomedousuario" style="text-decoration:none; font-weight:bold;">

                        @if (Usuario.LogadoE == null)
                        {
                            @Usuario.LogadoJ.Nome
                            ;
                        }

                        else
                        {
                            @Usuario.LogadoE.Nome
                            ;
                        }

                    </p>
                </a>
                <a class="navbar-brand d-flex" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 32px; font-family: Arial; margin:4px auto auto auto;">
                    <p id="oppor" style="color: #7CDFE5">Oppor</p>
                    <p id="teen" style="color: #A378FF">teen</p>
                    <p id="ity" style="color: #E21EAD">ity</p>
                </a>
                
                <div id="pagesdiv" style=" display:flex; flex-wrap:wrap; justify-content:space-between;">
                    <ul id="pagesul" class="navbar-nav flex-grow-1">

                        @if (Usuario.LogadoE == null)
                        {
                            <li class="nav-item" id="firstLi">
                                <a style="margin-top:-12px; margin-bottom:-12px;" id="homedanav" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="firstLi">
                                <a style="margin-top:-12px; margin-bottom:-12px;" id="homedanav" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a style="margin-top:-12px; margin-bottom:-12px;" id="servicodanav" class="nav-link text-dark" asp-area="" asp-controller="Serviços" asp-action="Index">Serviços</a>
                            </li>

                            <li class="nav-item">
                                <a style="margin-top:-12px; margin-bottom:-12px;" id="empregodanav" class="nav-link text-dark" asp-area="" asp-controller="Empregos" asp-action="Index">Empregos</a>
                            </li>
                            <li class="nav-item">
                                <a style="margin-top:-12px; margin-bottom:-8px;" id="jovensdanav" class="nav-link text-dark" asp-area="" asp-controller="Pesquisar" asp-action="Index">Jovens</a>
                            </li>
                        }

                    </ul>

                    <div class="d-flex me-5 mt-0">
                        <button onclick="aside()" class="btn btn-secondary " type="button" id="config">
                            Configurações
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container d-flex justify-content-center" style="min-height: 100vh;min-width:98vw; padding-top: 80px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
       


        if (localStorage.getItem("dm") == "yes") {
            document.getElementsByTagName("html")[0].classList.add("dark-mode2");
            document.getElementById("oppor").style.color = "#cda6a3";
            document.getElementById("teen").style.color = "#becf99";
            document.getElementById("ity").style.color = "#a5f3ba";
        }

        if (!localStorage.getItem("dm")) {
            localStorage.setItem("dm", "no");
            document.getElementById("oppor").style.color = "#7CDFE5";
            document.getElementById("teen").style.color = "#A378FF";
            document.getElementById("ity").style.color = "#E21EAD";
        }

        function darkMode() {
            document.getElementsByTagName("html")[0].classList.add("dark-mode2");
            document.getElementById("oppor").style.color = "#cda6a3";
            document.getElementById("teen").style.color = "#becf99";
            document.getElementById("ity").style.color = "#a5f3ba";
            document.getElementById("dm").innerHTML = "Light mode";
            document.getElementById("dm").onclick = "lightMode()";
            localStorage.setItem("dm", "yes");

            asideRemove();
        }

        function lightMode() {
            document.getElementsByTagName("html")[0].classList.remove("dark-mode2");
            document.getElementById("oppor").style.color = "#7CDFE5";
            document.getElementById("teen").style.color = "#A378FF";
            document.getElementById("ity").style.color = "#E21EAD";
            document.getElementById("dm").innerHTML = "Dark mode";
            document.getElementById("dm").onclick = "darkMode()";
            localStorage.setItem("dm", "no");

            asideRemove();
        }

        function aside() {
            if (localStorage.getItem("dm") == "no") {
                document.getElementById("config").insertAdjacentHTML("afterend", `<aside class="asdEnter position-absolute end-0 bg-light rounded p-2 mt-0" style="height: 98vh; width:25%; box-shadow: -10px 10px 15px -4px rgba(0,0,0,0.75);" id="aside">
                                                                                                                                             <div class="rounded w-100 asd-item p-2" onclick="asideRemove()">X</div>
                                                                                                                                             <div class="rounded w-100 asd-item p-2" id="dm" onclick="darkMode()">Dark mode</div>
                                                                                                                                             <div class="rounded w-100 asd-item p-2">Minha conta</div>
                                                                                                                                             <div class="rounded w-100 asd-item p-2 position-absolute" style="bottom: 16px">Sair da conta</div>
                                                                                                                                      </aside>`);
            } else {
                document.getElementById("config").insertAdjacentHTML("afterend", `<aside class="asdEnter position-absolute end-0 bg-light rounded p-2 mt-0" style="height: 98vh; width:25%; box-shadow: -10px 10px 15px -4px rgba(0,0,0,0.75);" id="aside">
                                                                                                                                                     <div class="rounded w-100 asd-item p-2" onclick="asideRemove()">X</div>
                                                                                                                                                     <div class="rounded w-100 asd-item p-2" id="dm" onclick="lightMode()">Light mode</div>
                                                                                                                                                     <div class="rounded w-100 asd-item p-2">Minha conta</div>
                                                                                                                                                     <div class="rounded w-100 asd-item p-2 position-absolute" style="bottom: 16px">Sair da conta</div>
                                                                                                                                              </aside>`);
            }
        }

        function asideRemove() {
            document.getElementById("aside").remove("asd");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


