<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoE21</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoE21.styles.css" asp-append-version="true" />

    <style>
        .asd {
            display: none;
        }
    </style>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjetoE21</a>
                <div class="d-flex">
                    <input type="text" class="form-control" placeholder="Buscar" />
                    
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Serviços" asp-action="Index">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Empregos" asp-action="Index">Trabalhos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Postar" asp-action="Index">Postar</a>
                        </li>

                    </ul>
                    <div class="d-flex me-5 mt-0">
                        <button onclick="aside()" class="btn btn-secondary dropdown-toggle w-100 mt-0" type="button" id="config" data-bs-toggle="dropdown" aria-expanded="false">
                            Configurações
                        </button>
                        <aside class="position-absolute end-0 bg-danger asd w-25 rounded p-2 mt-0" style="height: 100vh" id="aside">
                            <div>X</div>
                            <div class="w-100"> Dark mode</div>
                            <div class="w-100">Minha conta</div>
                            <div class="w-100"></div>
                            <div class="w-100">Sair</div>
                            <div class="w-100"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container d-flex justify-content-center" style="min-height: 100vh;min-width:98vw; padding-top: 56px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProjetoE21 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function aside() {
            document.getElementById("aside").classList.remove("asd");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


