@keyframes HoverCard1 {
    0% {
        background-color: white;
    }

    100% {
        background-color: #fafafa;
    }
}

@keyframes HoverCard2 {
    0% {
        background-color: white;
    }

    100% {
        background-color: #fafafa;
    }
}