

@keyframes abrirEspacoETeen {
    0% {
        width: 2em;
        
    }

  

    100% {
        width: 3em;
        
    }
}
@keyframes girar {
    0% {
        transform: rotate(0deg) translateY(0);
    }
   
    100% {
        transform: rotate(180deg) translateY(-0.12em) translateX(-0.55em);

    }
}
@keyframes opacidade {
    0% {
        opacity: 0;
        transform: translateX(0.3em) scale(1);
    }

    50% {
        opacity: 0;
        transform: translateX(0.3em) scale(1.2);
        
    }

    100% {
        opacity: 1;
        transform: translateX(0.3em) scale(1.2);
        
    }
}

.teen {
    animation: opacidade 5s ease-in forwards;
}
.u {
    animation: girar 5s ease-in forwards;
}


.container {
    display: flex;
}

.paragrafo {
    animation: abrirEspacoETeen 5s ease-in ;
}
