@model ProjetoE21.Models.Jovem
@{
    Layout = null;
}

<script>
        function formatarTelefone(telefone) {

            telefone = telefone.replace(/\D/g, '');
    
           
            telefone = telefone.replace(/(\d{2})(\d{1})(\d{4})(\d{4})$/, '($1) $2 $3-$4');
    
            
            document.getElementById('Telefone').value = telefone;
        }
 </script>

<div style="border: 1px solid black; border-radius: 15px; font-family: Arial, Helvetica, sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin: auto; width: 80vw;">
    <h1 style="margin: 5em;">Cadastre-se</h1>

    <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh; ">
        <form asp-action="Adicionar">
            <div>
                <label asp-for="Nome">Insira seu nome completo</label>
                <input asp-for="Nome"></input>
            </div>
            <div>
                <label asp-for="DataNascimento">Insira sua data de nascimento</label>
                <input asp-for="DataNascimento"></input>
            </div>
            <div>
                <label asp-for="Telefone">Insira seu Telefone</label>
                <input asp-for="Telefone">
            </div>
            <div>
                <label asp-for="Email">Insira seu endereço de email:</label>
                <input asp-for="Email"></input>
            </div>
            <div>
                <label asp-for="Senha">Insira sua senha:</label>
                <input asp-for="Senha"></input>
            </div>

            <div>
                <label asp-for="Local.Estado">Insira o estado de sua residência:</label>
                <input asp-for="Local.Estado"></input>
            </div>
            <div>
                <label asp-for="Local.Cidade">Insira a cidade de sua residência:</label>
                <input asp-for="Local.Cidade"></input>
            </div>
            <div>
                <label asp-for="Local.Bairro">Insira o bairro de sua residência:</label>
                <input asp-for="Local.Bairro"></input>
            </div>
            <div>
                <label asp-for="Local.Rua">Insira a rua de sua residência:</label>
                <input asp-for="Local.Rua"></input>
            </div>
            <div>
                <label asp-for="Local.Numero">Insira o número do local de sua residência:</label>
                <input asp-for="Local.Numero"></input>
            </div>

            <div>
                <label asp-for="Responsavel">Insira o nome de seu responsável:</label>
                <input asp-for="Responsavel"></input>
            </div>
            <div>
                <label asp-for="FoneResponsavel">Insira o fone de seu responsável:</label>
                <input asp-for="FoneResponsavel"></input>
            </div>

            <button asp-action="Cadastro">Adicionar</button>
        </form>
    </div>

</div>




