@{
    Layout = null;
} 


    <h1 style=" overflow:hidden;  display:flex; flex-direction:column; justify-content:center; font-family:Arial; padding-top:2vh; margin-top:-1vh; background-color:white; height:7vh; width:87.2vw; border-left:15vw solid white; margin-left:-5vh;">Você é um jovem procurando emprego ou uma empresa procurando jovens promissores?</h1>
<body style="overflow:hidden; background-color: #75b7bb;">
    <div style="height: 90vh; width: 90vw; margin: auto; font-family:Arial">
        <div style="font-size: 3em; display: flex; position: relative; width: 100%; height: 20%;">
            <div style="position: absolute; top: 0; left: 0; width: 90vw; height: 84vh; z-index: -1;">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="~/css/Imagens/fotoDeJovemEmpresa.png" />
            </div>

            <a style="color:white; text-decoration:none;flex: 1; padding-top: 20%; text-align: center; height: 47vh; width: 50vw; " asp-action="CadastroJovem">Jovem</a>

            <a style="color:white; text-decoration:none; flex: 1; padding-top: 20%; text-align: center; height: 47vh; width: 50vw;" asp-action="Empresa">Empresa</a>
        </div>
    </div>
</body>