@{
    Layout = null;
   
}

@model ProjetoE21.Models.Jovem

<head>
    <link rel="stylesheet" href="~/css/keyframe.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>

<div class="background-div" style="font-family: Arial, sans-serif; background-color: transparent; position: fixed;overflow: auto; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0;">

    

    <div style="display:flex; flex-direction: row; justify-content: space-between">
        <div style=" position:fixed; top:10vh; left:10vw; text-shadow:2px 2px 2px black; background-color: transparent; margin: auto; margin-top:20vh; ">
            <div class="container" style="font-size:5em; font-family: Arial, sans-serif; position: relative; justify-content: start;">
                <p class="paragrafo">Opport</p>
                <p class="teen" style="margin-bottom: 4px; position: absolute;">ee</p>

                <p class="teenrosa" style="position: absolute; margin-left: 2.78em; color: #A378FF; z-index: 1;">tee</p>

                <p class="u" style="text-shadow:-2px -2px 0px black;margin-left: 56px;">u</p>
                <p class="final-logo">nity</p>
            </div>
        </div>

        
        <h1 style="text-shadow: 2px 2px 4px black; color:white; font-size:2.5em; font-weight:500; position:fixed; top:28vh; left:50vw;"> Conectando Jovens e Empresas</h1>

        <div style="border-radius:10px; width:23vw; height:40vh;  position:fixed; top:40vh; left:50vw; margin: auto; text-align: center; justify-content: space-between; background-color:rgba(0, 0, 0, 0.229) ;">
            <div style="padding: 20px; width: 90%; height:2vh; justify-content:space-around;">
                <a asp-controller="Home" asp-action="LoginJovem" type="submit" style="text-decoration:none; color: green; margin-top:30px;margin-right:10px; padding: 10px; border:1px solid green; border-radius: 4px; cursor: pointer; width: 100%;">Sou aprendiz</a>

                <a asp-controller="Home" asp-action="LoginEmpresa" type="submit" style="text-decoration:none;  color: cornflowerblue; margin-top:30px;margin-left:5px; padding: 10px; border:1px solid cornflowerblue; border-radius: 4px; cursor: pointer; width: 100%;">Sou empresa</a>
            </div>
            <h2 style="color:white;  margin-top:50px; margin-bottom:25px;">Ainda nao tem cadastro?</h2>
            
            <a style="text-decoration:none;  color: #e21ead ; margin-top:50px; margin-left:5px; padding: 10px; border:1px solid #e21ead; border-radius: 4px; cursor: pointer; width: 100%;" class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Confirmar">Cadastrar</a>

          
        </div>
    </div>
    


  @*   <hr /> *@

   @*  <div style="margin:4em 7em 7em 7em; font-family: 'Arial', sans-serif;">
        <h1>  ** OPPORTEENITY : Seu Caminho para o Primeiro Emprego!** </h1>




        <p>
            Iniciar sua trajetória profissional não precisa ser uma tarefa difícil. Apresentamos o Opporteenity, um site de vagas de emprego exclusivo para menores aprendizes. Reconhecemos a importância de criar oportunidades acessíveis para jovens talentos entrarem no mercado de trabalho, e é por isso que projetamos uma plataforma que conecta empresas em busca de novos talentos a jovens ávidos por experiência profissional.
        </p>

        <h3> No Oporteenity, oferecemos:</h3>

        <p>
            <span style="font-weight: bold;">1. <strong>Vagas Exclusivas para Menores Aprendizes:</strong></span> Nosso foco é proporcionar oportunidades especialmente voltadas para quem está começando a carreira.
        </p>
        <p>
            <span style="font-weight: bold;">2. <strong>Aconselhamento Profissional:</strong></span> Compreendemos as incertezas que cercam os primeiros passos no mundo profissional. Oferecemos suporte e aconselhamento para ajudar os candidatos a se prepararem para entrevistas e desenvolverem habilidades essenciais.
        </p>
        <p>
            <span style="font-weight: bold;">3. <strong>Crescimento Profissional:</strong></span> Encontrar um emprego é apenas o começo. Oferecemos recursos para o desenvolvimento contínuo, permitindo que os jovens aprendizes cresçam em suas carreiras.
        </p>

        <p>
            Estamos comprometidos em ser o seu parceiro na busca pelo primeiro emprego. No **Oporteenity**, acreditamos que todos merecem uma chance justa de construir um futuro sólido. Junte-se a nós e transforme seus sonhos profissionais em realidade. Acesse nosso site e descubra as oportunidades que esperam por você!
        </p>

    </div> *@
</div>


