@{
    Layout = null;
}


<head>
    <link rel="stylesheet" href="~/css/keyframe.css" />
</head>


<div style="font-family: Arial, sans-serif; background-color: #ff1; position: fixed;overflow: auto; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="display:flex; justify-content: space-between">
        <div style="background-color: #ff1; margin-left:30%; margin-top:20vh" >
            <div class="container" style="font-size:3em; font-family: Arial, sans-serif;">
                <p class="paragrafo">Opport</p>
                <p class="teen">ee</p>
                <p class="u">u</p>
                <p>nity</p>
            </div>
        </div>

        <div style="display: flex; align-items: center; justify-content: end; margin-right: 35px; margin-top: 100px;">
            <form asp-controller="Home" asp-action="Index">

                <div style="background-color: #fff; border:2px solid black; padding: 20px; border-radius: 8px; width: 300px; height:300px; position: relative; box-shadow: 6px 8px 4px rgba(0, 0, 0, 1);">


                    <label for="username" style="display: block; margin-bottom: 12px;">Usuário</label>
                    <input type="text" id="username" style="border:2px solid black; width: 100%; padding: 12px; margin-bottom: 16px; box-sizing: border-box;">

                    <label for="password" style="display: block; margin-bottom: 12px;">Senha</label>
                    <input type="password" id="password" style="border:2px solid black; width: 100%; padding: 12px; margin-bottom: 16px; box-sizing: border-box;">

                    <button type="submit" style="background-color: #4caf50; color: #fff; margin-top:30px; padding: 10px; border:1px solid black; border-radius: 4px; cursor: pointer; width: 100%;">Entrar</button>

                </div>

            </form>
        </div>

    </div>
    
    <hr />

    <div style="margin:auto;margin-left:7em">
        <h1>Dificuldade em achar o primeiro emprego?</h1>
        <h2>Nos te entendemos -_- </h2>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
        <p>com o OPPORTEENITY     VOCE TEM A OPORTUNIDADE DE DAR UM START EM SUA JORNADA PROFISSIONAL</p>
    </div>
</div>
