<h1>Adicionar currículo</h1>

<h2>Você realmente deseja adicionar o seu currículo?</h2>

<form asp-action="Curriculo">
    <button asp-action="Curriculo">Sim</button>
</form>

<form asp-action="Index">
    <button asp-action="Index">Não</button>
</form>