




<div class="d-flex">
    <div class="card mb-5" style="max-width: 85vh; min-width: 85vh;">
        <div class="row g-0">
            <div class="row flex-column">
                <div class="card-body">
                    <h5 class="card-title">Nome da Empresa</h5>
                    <p class="card-text">
                        Texto da vaga. Texto da vaga.Texto da vaga.Texto da vaga.Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga.
                        Texto da vaga.Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga.
                        Texto da vaga.Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga. Texto da vaga
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:green;">Candidatar</a>
                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:blue;">Salvar</a>
                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:red;">Compartilhar</a>
                </div>
            </div>
        </div>
    </div>
</div>