<div class="d-flex">
    <aside style="width:30%; height:100vh">
        <p>Informações da conta</p>
    </aside>
    <div style="width:30%; height:100vh" class="bg-danger">
        <p>Serviços</p>
    </div>
    <aside style="width:30%; height:100vh" class="bg-primary">
        <p>Empregos</p>
    </aside>
</div>