@{
    Layout = null;
}

@model JovemLogin;

<div style="border-radius:10px; width:51vw; height:99vh; margin-left: 49vw; text-align: center; background-color:rgba(0, 0, 0, 0.229) ;">

    <form asp-action="LoginJovem" style="padding: 10%; display: flex; flex-direction: column; font-family: Arial, Helvetica, sans-serif;">

        <h1 style="font-size:6vh; color: rgb(11, 138, 11); margin-top: 10vh; margin-bottom: 20vh;">Login Jovem</h1>


        <lable>Insira seu email:</lable>
        <input style=" margin-bottom: 20px; height: 6vh;" asp-for="Email" class="input" placeholder="Email" type="text">
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span> 
        <lable>Insira sua senha:</lable> 
        <input style=" margin-bottom: 20px; height: 6vh;" asp-for="Senha" class="input" placeholder="Senha" type="password">
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Senha)</span>

        <button asp-action="LoginJovem" style="font-size: large; font-weight: 400; color: white; background-color: rgb(11, 138, 11); margin: auto; width: 20vw;border-radius: 30px; margin-bottom: 20px; height: 6vh;" class="button-confirm">Login</button>

      
        @if (ViewData.ModelState.ContainsKey("userIncorreto"))
        {
            @Html.ValidationMessage("userIncorreto")
            ;
        }
    </form>



</div>

