@{
    Layout = null;
}

@model Empresa;

<form asp-action="LoginEmpresa" style="display: flex; align-items: center; justify-content: center; margin-right: 35px; margin-top: 100px; font-family: Arial, Helvetica, sans-serif;">


    <div style="background-color: #fff; display:flex; flex-direction: column; text-align: center;border:2px solid black; padding: 20px; align-items: center; justify-content: center; border-radius: 8px; width: 50vw; height:300px; position: relative; box-shadow: -6px 8px 4px rgba(0, 0, 0, 1)">
        <h1>Login</h1>
        <h2> Entre os dados de sua empresa para continuar </h2>

        <lable>Insira seu email:</lable>
        <input asp-for="Email" class="input" placeholder="Email" type="text">

        <lable>Insira sua senha:</lable>
        <input asp-for="Senha" class="input" placeholder="Senha" type="password">

        <button class="button-confirm">Login</button>

    </div>
</form>