@model Protótipo_Projeto.Models.Categoria

<h1>Deletar categoria</h1>

<form asp-action="Delete">
    <p>Tem certeza que deseja deletar essa categoria?</p>
    <button asp-action="Delete">Sim</button>
</form>
<form asp-action="Categorias">
    <button asp-action="Categorias">Não</button>
</form>