@using ProjetoE21.Dados;

@model ProjetoE21.Models.Curriculo;

<h1>Perfil</h1>

<h3>@Usuario.LogadoE.Nome</h3>
<p>Telefone: @Usuario.LogadoE.Telefone</p>
<p>Email: @Usuario.LogadoE.Email</p>

<div class="d-flex">
    <a asp-controller="Perfil" asp-action="EditarEmpresa" class="btn btn-warning me-2">Editar</a>
    <a asp-controller="Login" asp-action="Deslogar" class="btn btn-danger">Deslogar</a>
</div>