<h1>Deletar serviço</h1>

<h2>Você realmente deseja deletar este emprego?</h2>

<form asp-action="Delete">
    <button asp-action="Delete">Sim</button>
</form>
<form asp-action="Index">
    <button asp-action="Index">Não</button>
</form>